@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.eco-project {}

/* top */
.eco-project__top {
    background-image: url('top-background.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}

/* color */
.eco-project__color--black {
    color: #383838 !important;
}

/* title */
.eco-project__title {
    margin: 0;

    font-family: 'Raleway';
    font-weight: 900 !important;
    font-size: 54px !important;
    line-height: 100% !important;
    color: #383838;
}
@media (max-width: 959px) {
    h1.eco-project__title {
        font-size: 44px !important;
    }
    h2.eco-project__title {
        font-size: 32px !important;
    }
}

/* top-title */
.eco-project__top-title {
    margin: 0 !important;
}

/* top-desc, top-text */
.eco-project__top-desc {
    margin-top: 30px;
    max-width: 500px;

    font-family: 'Raleway';
}
.eco-project__top-text {
    font-size: 15px;
    line-height: 160%;
}
.eco-project__top-text:not(:first-child) {
    margin-top: 20px;
}

/* attention */
.eco-project__attention {
    margin-top: 45px;
    padding: 0 45px;
}
@media (max-width: 959px) {
    .eco-project__attention {
        padding: 0 20px;
    }
}
/* attention: block */
.eco-project__attention-block {
    padding: 60px calc(100% / 16);

    background-color: #EDF7F3;
    background-image: url('attention.jpg');
    background-repeat: no-repeat;
    background-position: left 990px center;

    mix-blend-mode: darken;
}
@media (max-width: 1599px) {
    .eco-project__attention-block {
        background-position: right 125px center;
    }
}
@media (max-width: 1479px) {
    .eco-project__attention-block {
        background-position: left 870px center;
    }
}
@media (max-width: 959px) {
    .eco-project__attention-block {
        padding: 60px 20px;
    }
}
/* attention: title */
.eco-project__attention-title {
    margin: 0 !important;

    color: #383838;
}
/* attention: list */
.eco-project__attention-list {
    margin: 0;
    margin-top: 40px;
    padding-left: calc((100% / 16) * 3);

    list-style: none;
}
/* @media (max-width: 1599px) {
    .eco-project__attention-list {
        padding-left: 0;
    }
} */
@media (max-width: 959px) {
    .eco-project__attention-list {
        padding-left: 0;
    }
}
/* attention: item */
.eco-project__attention-item {
    display: flex;
}
.eco-project__attention-item:not(:first-child) {
    margin-top: 20px;
}
/* attention: mark */
.eco-project__attention-mark {
    position: relative;
    z-index: 0;
    
    width: 63px;
    height: 63px;
    flex-shrink: 0;

    background-color: white;
}
.eco-project__attention-mark::before,
.eco-project__attention-mark::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    content: '';
    width: 7px;
    
    background-color: #12972E;
}
.eco-project__attention-mark::before {
    top: 12px;

    height: 24px;
}
.eco-project__attention-mark::after {
    bottom: 12px;

    height: 8px;
}
@media (max-width: 579px) {
    .eco-project__attention-mark {
        width: 30px;
        height: 30px;
    }
    .eco-project__attention-mark::before,
    .eco-project__attention-mark::after {
        width: 3px;
    }
    .eco-project__attention-mark::before {
        top: 6px;

        height: 12px;
    }
    .eco-project__attention-mark::after {
        bottom: 6px;

        height: 4px;
    }
}
/* attention: text */
.eco-project__attention-text {
    margin: 0;
    margin-left: 27px;
    max-width: 390px;

    font-family: 'Raleway';
    font-size: 15px;
    line-height: 160%;
    color: #383838;
}

/* container */
.eco-project__container {
    position: relative;

    margin-top: 100px;
    padding: 0 45px 0 calc(45px + ((100% - (45px * 2)) / 16))
}
@media (max-width: 1259px) {
    .eco-project__container {
        padding: 0 45px;
    }
}
@media (max-width: 959px) {
    .eco-project__container {
        padding: 0 20px;
    }
}
/* container: caption */
.eco-project__container-caption {
    margin: 0;
    margin-top: 40px;
    max-width: 470px;

    font-family: 'Raleway';
    font-size: 15px;
    line-height: 160%;
    color: #383838;
}
/* container: desc */
.eco-project__container-desc {
    margin: 0;
    margin-top: 362px;
    padding-left: 360px;
    max-width: calc(360px + 540px);

    font-family: 'Raleway';
    font-size: 20px;
    line-height: 160%;
    color: #383838;
}
@media (max-width: 1059px) {
    .eco-project__container-desc {
        margin-top: 40px;
        padding-left: 0;
    }
}
@media (max-width: 959px) {
    .eco-project__container-desc {
        font-size: 18px;
    }
}
/* container: tagline */
.eco-project__container-tagline {
    margin: 0;
    margin-top: 40px;
    padding-left: 360px;
    max-width: calc(360px + 680px);

    font-family: 'Raleway';
    font-weight: 900;
    font-size: 34px;
    line-height: 120%;
    color: #383838;
}
.eco-project__container-tagline strong {
    color: #12972E;
}
@media (max-width: 1059px) {
    .eco-project__container-tagline {
        padding-left: 0;
    }
}
@media (max-width: 959px) {
    .eco-project__container-tagline {
        font-size: 22px;
    }
}
/* container: layout */
.eco-project__container-layout {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;
}
.eco-project__container-layout::before {
    position: absolute;
    bottom: 0;
    left: 135px;

    content: '';
    width: 225px;
    height: 1px;

    background-color: #12972E;
}
@media (max-width: 1059px) {
    .eco-project__container-layout::before {
        display: none;
    }
}
/* container: image */
.eco-project__container-image {
    position: absolute;
}
.eco-project__container-image--1 {
    z-index: 4;
    top: 320px;
    left: 135px;

    max-width: 225px;
}
@media (max-width: 1059px) {
    .eco-project__container-image--1 {
        display: none;
    }
}
.eco-project__container-image--2 {
    z-index: 3;
    top: 0;
    left: 765px;

    max-width: 450px;
}
@media (max-width: 1059px) {
    .eco-project__container-image--2 {
        display: none;
    }
}
.eco-project__container-image--3 {
    z-index: 1;

    top: 320px;
    left: 1050px;
}
.eco-project__container-image--4 {
    z-index: 2;
    top: 0;
    left: 1395px;

    height: auto;
    max-width: 90px;
}
.eco-project__container-image--4 path {
    fill: #12972E;
}
@media (max-width: 1059px) {
    .eco-project__container-image--4 {
        top: 0;
        left: auto;
        right: 45px;
    }
}
@media (max-width: 959px) {
    .eco-project__container-image--4 {
        right: 20px;
    }
}
@media (max-width: 619px) {
    .eco-project__container-image--4 {
        display: none;
    }
}

/* addresses */
.eco-project__addresses {
    margin-top: 100px;
    padding: 0 45px 0 calc(45px + ((100% - (45px * 2)) / 16));
}
@media (max-width: 1059px) {
    .eco-project__addresses {
        padding: 0 45px;
    }
}
@media (max-width: 959px) {
    .eco-project__addresses {
        padding: 0 20px;
    }
}
/* addresses: caption */
.eco-project__addresses-caption {
    margin: 0;
    margin-top: 40px;

    font-family: 'Raleway';
    font-size: 15px;
    line-height: 160%;
    color: #383838;
}
/* addresses: list */
.eco-project__addresses-list {
    margin: 0;
    margin-top: calc(60px - 20px);
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    list-style: none;
}
@media (max-width: 1059px) {
    .eco-project__addresses-list {
        display: block;
    }
}
/* addresses: item */
.eco-project__addresses-item {
    margin-top: 20px;
    width: calc((100% - 20px) / 2);
    flex-shrink: 0;
}
@media (max-width: 1059px) {
    .eco-project__addresses-item {
        width: 100%;
    }
}
@media (max-width: 619px) {
    .eco-project__addresses-item {
        padding-left: 40px;
        padding-right: 40px;
    }
}
.eco-project__addresses-link {
    position: relative;
    z-index: 0;

    padding: 30px 90px;
    min-height: 100%;
    display: block;

    border: 1px solid #EAEAEA;
}
.eco-project__addresses-link:hover {
    text-decoration: none;
}
/* addresses: layout */
.eco-project__addresses-layout {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;
}
.eco-project__addresses-layout::before {
    position: absolute;
    bottom: 0;
    right: 0;

    content: '';
    width: 36px;
    height: 36px;

    background-color: #12972E;
}
/* addresses: image */
.eco-project__addresses-image {
    position: absolute;
}
.eco-project__addresses-image--1 {
    top: 10px;
    left: 8px;

    height: auto;
    max-width: 14px;
}
.eco-project__addresses-image--1 path {
    fill: #12972E;
}
.eco-project__addresses-image--2 {
    bottom: 10px;
    right: 10px;
}
/* addresses: title */
.eco-project__addresses-title {
    margin: 0;

    font-family: 'Raleway';
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #383838;
}
/* addresses: address */
.eco-project__addresses-address {
    margin: 0;
    margin-top: 15px;
    max-width: 450px;

    font-family: 'Raleway';
    font-size: 14px;
    line-height: 140%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #383838;
}

/* partners */
.eco-project__partners {
    margin-top: 100px;
    padding: 0 45px 0 calc(45px + ((100% - (45px * 2)) / 16));
}
@media (max-width: 1059px) {
    .eco-project__partners {
        padding: 0 45px;
    }
}
@media (max-width: 959px) {
    .eco-project__partners {
        padding: 0 20px;
    }
}
/* partners: list */
.eco-project__partners-list {
    margin: 0;
    margin-top: 60px;
    padding: 0;
    display: flex;
    justify-content: space-between;

    list-style: none;
}
@media (max-width: 1499px) {
    .eco-project__partners-list {
        margin-top: calc(60px - 15px);
        margin-left: -15px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
/* partners: item */
.eco-project__partners-item {
    padding: 30px;
    width: calc((100% - (15px * 6)) / 7);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #EAEAEA;
}
@media (max-width: 1499px) {
    .eco-project__partners-item {
        margin-top: 15px;
        margin-left: 15px;
        width: 180px;
    }
}
@media (max-width: 479px) {
    .eco-project__partners-item {
        width: 100%;
    }
}
/* partners: img */
.eco-project__partners-image {
    max-width: 112px;
    display: flex;
}
/* partners: img */
.eco-project__partners-img {
    max-width: 100%;
    max-height: 100%;
}

/* join */
.eco-project__join {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 45px;
}
@media (max-width: 959px) {
    .eco-project__join {
        padding: 0 20px;
    }
}
/* block */
.eco-project__join-block {
    position: relative;
    z-index: 0;

    padding: 60px calc(100% / 16);
    
    background-color: #EDF6F3;
}
@media (max-width: 959px) {
    .eco-project__join-block {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* form */
.eco-project__join-form {
    margin-top: 60px;
    max-width: 760px;
}
/* row */
.eco-project__join-row {
    display: flex;
    justify-content: space-between;
}
.eco-project__join-row:not(:first-child) {
    margin-top: 30px;
}
@media (max-width: 959px) {
    .eco-project__join-row {
        display: block;
    }
}
/* col */
.eco-project__join-col {
    width: calc((100% - 40px) / 2);
    flex-shrink: 0;
}
@media (max-width: 959px) {
    .eco-project__join-col {
        width: 100%;
    }
    .eco-project__join-col:not(:first-child) {
        margin-top: 30px;
    }
}
/* text */
.eco-project__join-text {
    position: relative;
    z-index: 0;

    margin: 0;
    padding-top: 33px;
    display: block;
}
.eco-project__join-text-caption {
    position: absolute;
    top: 0;
    left: 0;

    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #383838;
    white-space: nowrap;
}
.eco-project__join-text-input {
    padding: 0 20px;
    width: 100%;
    height: 50px;
    display: block;

    border: 1px solid #E7E7E7;
    outline: none;
}
/* layout */
.eco-project__join-layout {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;
    overflow: hidden;
}
/* image */
.eco-project__join-image {
    position: absolute;
}
.eco-project__join-image--1 {
    top: 57px;
    left: 757px;
}
.eco-project__join-image--2 {
    top: 152px;
    left: 987px;
}

/* checkbox */
.eco-project__checkbox {
    position: relative;
    z-index: 0;

    margin: 0;
    padding-left: 36px;
    width: 100%;
    display: block;

    cursor: pointer;
}
/* input */
.eco-project__checkbox-input {
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
    visibility: hidden;

    opacity: 0;
}
.eco-project__checkbox-input:checked + .eco-project__checkbox-box::before {
    opacity: 1;
}
/* box */
.eco-project__checkbox-box {
    position: absolute;
    top: 0;
    left: 0;

    width: 22px;
    height: 22px;

    background-color: white;
    border: 1px solid #e3e3e3;
}
.eco-project__checkbox-box::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    content: '';

    background-image: url('checkbox-mark.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    opacity: 0;
    transition: 0.25s;
}
/* text */
.eco-project__checkbox-text {
    margin: 0;

    font-family: 'Raleway';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: #252525;
}
/* link */
.eco-project__checkbox-link {
    color: #12982e;
}
.eco-project__checkbox-link:hover {
    color: #12982e;
}

/* btn */
.eco-project__btn {
    display: flex;
}
/* button */
.eco-project__btn-button {
    padding: 17px 30px;
    min-height: 57px;
    
    border: none;
    background-color: #12982e;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 14px;
    line-height: 160%;
    color: white;
    cursor: pointer;
}

/* fix: remove deprecated image */
.wrapper .main_slider.page_slider.page_cartridge .inner::before {
    display: none;
}